#discussion-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f5f2;
  padding: 0 5vw 0 5vw;
}

#discussion-header {
  margin-top: 10vh;
  color: #a9a9a9;
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-weight: 600;
}

#discussion-title {
  font-family: "Satoshi-Variable", sans-serif;
  font-weight: bold;
}

#discussion-book-title {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-weight: 600;
}

#discussion-content {
  font-family: "Satoshi-Variable", sans-serif;
}

#discussion-input {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

#discussion-post-title {
  padding: 10px 15px;
  border: none;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

#discussion-post-content {
  padding: 10px 15px;
  border: none;
  font-family: "Satoshi-Variable", sans-serif;
}

#discussion-post-button {
  border: none;
  display: flex;
  justify-content: right;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10vh;
}

#discussion-post-icon {
  width: 30px;
}

#discussion-old-posts {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  background-color: #ebebeb98; /* Light grey background */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#discussion-timestamp,
#discussion-username {
  font-size: 0.8em;
  color: #a9a9a9;
  font-family: "Satoshi-Variable", sans-serif;
}
