.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f5f2;
}

#login-title {
  z-index: 1;
  font-size: 30px;
  color: #494949;
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-weight: 500;
  padding: 0 0 0 30px;
}

#login-form {
  margin-top: 35vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

#login-email {
  width: 80vw;
  height: 40px;
  padding: 10px;
  /* border: solid;
  border-color: black;
  border-width: 3px 3px 0px 3px; */
  border-radius: 10px 10px 0 0;
}

#login-password {
  width: 80vw;
  height: 40px;
  padding: 10px;
  /* border: solid;
  border-color: black;
  border-width: 0px 3px 3px 3px; */
  border-radius: 0 0 10px 10px;
}

#login-login-button {
  margin-top: 20px;
  z-index: 1;
  padding: 20px 110px;
  border-radius: 45px;
  text-decoration: none;
  color: #f8f5f2;
  width: 100%;
  font-family: "Satoshi-Variable", sans-serif;
  font-weight: 500;
  font-size: 13px;
  background-color: #38a856;
}

#login-blue-circle {
  z-index: 0;
  position: absolute;
  background-color: #078080;
  border-radius: 500px 500px 0 0;
  bottom: -55%;
  width: 120%;
  height: 80%;
  align-items: center;
}
