.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f5f2;
}

#login-form {
  margin-top: 25vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

#login-email {
  width: 80vw;
  height: 40px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 3px 3px 3px 3px;
  border-radius: 10px 10px 0 0;
}

#login-password {
  width: 80vw;
  height: 40px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 0px 3px 3px 3px;
  border-radius: 0 0 10px 10px;
}

#login-login-button {
  margin-top: 10px;
  z-index: 1;
  background-color: #f8f5f2;
  padding: 20px 110px;
  border-radius: 45px;
  border: solid;
  border-color: black;
  border-width: 3px;
  text-decoration: none;
  color: black;
  width: 300px;
}

#login-blue-circle {
  z-index: 0;
  position: absolute;
  background-color: #078080;
  border-radius: 500px 500px 0 0;
  bottom: -25%;
  width: 120%;
  height: 90%;
  align-items: center;
}
