#profile-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f5f2;
  padding: 0 5vw 0 5vw;
}

#profile-header {
  margin-top: 10vh;
}

#profile-info {
  display: flex;
  flex-direction: column;
}

#profile-name-tag {
  font-weight: bold;
}

#profile-email-tag {
  font-weight: bold;
}

#profile-password-tag {
  font-weight: bold;
}

#profile-form-button-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#profile-edit-button {
  margin-top: 2vh;
  border: none;
  padding: 20px 20px;
}

#profile-name {
  width: 80vw;
  height: 40px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
}

#profile-email {
  width: 80vw;
  height: 40px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
}

#profile-password {
  width: 80vw;
  height: 40px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
}

#profile-save-changes-button {
  background-color: #078080;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
}

#profile-cancel-button {
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
}

#profile-logout-container {
  display: flex;
  position: fixed;
  bottom: 15vh;
  left: 0;
  right: 0;
  justify-content: center;
}

#profile-logout-button {
  background-color: #f9bc60;
  border: none;
  padding: 20px 40px;
  border-radius: 25px;
}
