#read-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f5f2;
  padding: 0 5vw 0 5vw;
}

#read-header {
  margin-top: 10vh;
}

#read-form {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  padding-top: 2vh;
}

#create-title {
  padding: 15px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 45px;
}

#create-author {
  padding: 15px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 45px;
}

#create-pages {
  padding: 15px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 45px;
}

#read-button {
  margin-top: 10px;
  z-index: 1;
  background-color: white;
  padding: 15px 100px;
  border-radius: 45px;
  border: solid;
  border-color: black;
  border-width: 3px;
  text-decoration: none;
  color: black;
  width: 100%;
}
