.welcome-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f5f2;
}

#welcome-heading {
  z-index: 1;
  font-size: 50px;
  color: #f45d48;
  margin: 20vh 0 0 0;
  padding: 0 40px;
  font-family: 'ClashGrotesk-Variable', sans-serif;
  font-weight: 500;
}

#welcome-subheading {
  z-index: 1;
  margin-bottom: 20vh;
  font-size: 15px;
  padding: 0 10vw;
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-weight: 500;
  color: #078080;
}

#welcome-buttons {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  gap: 1vh;
}

#welcome-login-button {
  z-index: 1;
  background-color: #38a856;
  padding: 2px 55px;
  border-radius: 45px;
  /* border: solid;
  border-color: black; */
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

#welcome-signup-button {
  z-index: 1;
  background-color: #3cb95d8f;
  padding: 2px 55px;
  border-radius: 45px;
  /* border: solid;
  border-color: black; */
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

#welcome-blue-circle {
  z-index: 0;
  position: absolute;
  background-color: #078080;
  border-radius: 500px / 400px;
  bottom: -40%;
  width: 120%;
  height: 60%;
  align-items: center;
  filter: drop-shadow(0 -4mm 4mm rgba(37, 37, 37, 0.071));
}
